#folders
node_modules
dist
coverage
build
target
doc

#files
*.env
*.log
*.tsbuildinfo
!.env.example
*.npmrc

#yarn 
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#OSX
.DS_Store

#visual-studio-code
.vscode/